<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369242117538-33b87k7thsjo89ijbp8si4anbr7abntv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369242117538-33b87k7thsjo89ijbp8si4anbr7abntv</string>
	<key>API_KEY</key>
	<string>AIzaSyCOFNj1jbvqQbTPgi0xgvUwcJU98LKaOmk</string>
	<key>GCM_SENDER_ID</key>
	<string>369242117538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KZ.KZPRISMSPackageScanner</string>
	<key>PROJECT_ID</key>
	<string>kz-prisms-package-scanner</string>
	<key>STORAGE_BUCKET</key>
	<string>kz-prisms-package-scanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369242117538:ios:0bf9ddc666e77559b0cefb</string>
</dict>
</plist>